/Sfilter.egg-info
/.idea
/build
/script/tmp.xtc

# mdanalysis index file
*.lock
*.npz

.ipynb_checkpoints

/test/03-longest_common_sequence/02-cylinder/match.out

/test/06-multi_rep/01-charmm-charge/05-C_0.80/
/test/06-multi_rep/01-charmm-charge/06-C_0.75/
/test/06-multi_rep/01-charmm-charge/07-C_0.70/
/test/05-HRE/01-charmm-charge/distribution/*output.csv.*
/test/06-multi_rep/01-charmm-charge/distribution/*output.csv.*
/tutorial/md_???.npy
/test/01-NaK2K/1-Charmm/free_energy/Reaction1/19/k_cylinder/07-200wat/fix_100water_SF.pdb
/script/*_perm_event.out
/test/01-NaK2K/1-Charmm/dry/count_nojump/K_SF_perm_event_nj.csv
/test/07-MthK/Charmm_0.75/+150mV/0?/k_cylinder.jump_np_array.npy
/test/04-output_wrapper/C_0.75_2ps/05-2ps/0?/analysis/04-state-code/k_cylinder.jump_np_array.npy
/test/01-NaK2K/1-Charmm/dry/k_cylinder.out
/test/01-NaK2K/1-Charmm/dry/POT_perm_event.out
